body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(18, 238, 190);
  background-size: 5000% 5000%;
  background-repeat: no-repeat;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logo {
  margin-top: -15px;
}